<div class="jumbotron">
  <p class="lead">
    <img src="images/parkattack500x425.png" alt="let's play">
  </p>
</div>

<div class="row marketing">
  <h3>coming soon:</h3>
  <ul>
    <li>Friday, September 4th 2015 in Phase 2 LaunchPad aka "the den"...</li>
  </ul>
</div>

<div class="row marketing">
  <h4>join in...</h4>
  <p>
    <a href="https://plymouthsciencepark.slack.com/messages/parkattack/">...the conversation</a>
  </p>
</div>

<div class="row" ng-show="user.uid">
  <h4>Hi {{user.email}}!</h4>
</div>

<div class="row" ng-hide="user.uid">
  <form ng-show="!user.uid">
    <div class="form-group col-md-4">
      <input type="email" class="form-control" placeholder="email" ng-model="user.email" required autofocus />
    </div>
    <div class="form-group col-md-4">
      <input type="password" class="form-control" placeholder="password" ng-model="user.password" required />
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-primary" ng-click="register()">sign up / login</button>
    </div>
  </form>
  <p>
    tip: if you sign up with your work email address, you'll see other people and Park Attack teams from your company.
  </p>
</div>