<div class="jumbotron">
  <p class="lead">
    <img src="images/parkattack500x425.png" alt="let's play">
  </p>
</div>

<div class="row marketing">
  <h3>coming soon:</h3>
  <ul>
    <li>Friday, September 4th 2015 in Phase 2 LaunchPad aka "the den"...</li>
  </ul>
</div>

<div class="row marketing">
  <h4>join in...</h4>
  <p>
    <a href="https://plymouthsciencepark.slack.com/messages/parkattack/">...the conversation</a>
  </p>
</div>

<div class="row" ng-show="user.uid">
  <h4>
    <img ng-src="{{user.avatar}}" ng-show="user.avatar" class="img-rounded" style="width:30px; height: 30px;" />
    Hi {{user.email}}!
  </h4>
  <p><a href ng-click="logout()">logout</a></p>
</div>

<div class="row" ng-show="!user.uid">
  <form ng-submit="login()">
    <div class="form-group col-md-6">
      <input type="email" class="form-control" placeholder="email" ng-model="user.email" required autofocus />
    </div>
    <div class="form-group col-md-6">
      <input type="submit" value="sign up / login" class="btn btn-primary" />
    </div>
  </form>
  <p>
    tip: if you sign up with your work email address, you'll see other people and Park Attack teams from your company.
  </p>
</div>

<div class="row" ng-show="debug">
  <pre>{{authData | json}}</pre>
  <pre>{{user | json}}</pre>
  <pre>{{error | json}}</pre>
</div>