<div class="row" ng-show="user.$id">
  <p class="text-center">
    <img src="images/parkattack500x425.png" alt="let's play" style="width: 500px;" />
    <img src="images/ready-to-play.png" alt="are you ready to play" style="width: 100%; max-width: 923px;" />
  </p>
  <div class="col-md-6">
    <img src="images/walking.jpg" alt="https://www.flickr.com/photos/lancesh/190382917" class="img-rounded" style="width: 100%;" />
  </div>
  <div class="col-md-6">
    <h4>The Deep South</h4>
    <p>Well, thanks to the Internet, I'm now bored with sex. Is there a place on the web that panders to my lust for violence? Noooooo! You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Now, now. Perfectly symmetrical violence never solved anything. Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal? Good news, everyone! There's a report on TV with some very bad news!</p>
    <ol>
    <li>That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</li>
    <li>And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet.</li>
    <li>Fry, you can't just sit here in the dark listening to classical music.</li>
    <li>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them.</li>
    <li>Well, let's just dump it in the sewer and say we delivered it.</li>
    </ol>
    <h5>The Honking</h5>
    <p>Yes, I saw. You were doing well, until everyone died. OK, if everyone's finished being stupid. Bender, you risked your life to save me! Ven ve voke up, ve had zese wodies. Dear God, they'll be killed on our doorstep! And there's no trash pickup until January 3rd.</p>
  </div>
</div>
<div class="row" ng-show="user.$id">
  <div class="col-md-6">
    <h2>Prizes</h2>
    <ul class="list-unstyled">
      <li ng-repeat="prize in prizes">
        {{prize.name}}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Who's attending?</h2>
    <ul class="list-inline">
      <li ng-repeat="attendee in attending | orderBy:'name'" style="padding: .5em;">
        <div class="img-rounded" style="background-color: #f0f0f0; padding: .5em;">
          <img gravatar-src-once="attendee.email" gravatar-size="30" />
          <span style="margin-left:.5em;">{{attendee.name}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="text-center" style="margin-top: 0; margin-bottom: 0; padding-top: 20px; padding-bottom: 0;" ng-show="!user.uid">
  <div class="container">
    <img src="images/hosted-by.png" alt="Hosted By" />
  </div>
</div>

<div class="row" ng-show="debug">
  <pre>{{authData | json}}</pre>
  <pre>{{user | json}}</pre>
  <pre>{{error | json}}</pre>
</div>